/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #1E3E62;
}

html {
  scroll-behavior: smooth;
}

p {
  color: white;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;

}

.tombol {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.tombol1 {
  color: #133E87;
  text-decoration: none;
  font-weight: bold;
}
.tombol1:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #FF6500;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #FF6500;
}

.logo {
  font-size: 2rem;
  color: #FF6500;
  font-weight: bold;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #FF6500;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #022560;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 2);
}

.background-video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.background-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1e3e62c2, #ff66004e); /* Gradien */
  z-index: 0; /* Di atas video, di bawah konten */
}

.section__pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}

.section__pic-containers {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img{
  border-radius: 50%;
}


.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: #FF6500;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: white;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  color: white;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2,
.btn-color-3,
.btn-color-4 {
  border: white 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover,
.btn-color-3:hover,
.btn-color-4:hover {
  cursor: pointer;
}
.btn-color-1,
.btn-color-2:hover {
  background: #FF6500;
  color: white;
}

.btn-color-3,
.btn-color-4:hover {
  background: #133E87;
  color: white;
}

.btn-color-1:hover {
  background: #ff66008f;
}
.btn-color-3:hover {
  background: #133e8784;
}

.btn-color-2,
.btn-color-4 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-top: 100px;
}

.title1{
  color: #133E87;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;

}

.about-containers,
.about-details-container {
  display: flex;
  flex-wrap: wrap;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: black;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color:white;
  text-align: center;
  background-color: #FF6500;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: white;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
article h3{
  color: #133E87;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: #FF6500;
}

.project-img {
  border-radius: 2rem;
  width: 20rem  ;
  height: 15rem;
}

.project-title {
  margin: 1rem;
  color: white;
}


/* sertifikat */

#sertifikat{
  position: relative;
}

.sertifikat-container{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  left: 60px;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: white;
  background-color: #FF6500;
}


.slider-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  height: 400px; /* Sesuaikan dengan tinggi gambar Anda */
  overflow: hidden;
  border-radius: 20px;
}

.slider-image {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 18px;
  margin-top: 50px;
  background-color: #133E87;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  z-index: 2;
}
.next {
  right: 60px;
  border-radius: 50%;
}

.prev:hover, .next:hover {
  background-color: #FF6500;
}

.slider-list-container {
  text-align: center;
  margin-top: 20px;
}

.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.slider-item {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider-item.active {
  width: 30px;
  background-color: #133E87;
}

.image-description {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  padding: 0 20px;
}

.image-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.image-description p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: white;
  background-color: #FF6500;
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
